DATABASE_URL="postgresql://postgres:postgres_stress_pass@postgres_db:5432/stress_db?schema=public"
INTERNAL_BASE_URL="http://127.0.0.1:3000"
STRESS_MAX_MEMORY_MB=2048
STRESS_MAX_THREADS=4
METRICS_SNAPSHOT_INTERVAL_SEC=10
